<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appender name="consoleLog" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>[zjsm-sp-web-admin]%d{HH:mm:ss} [%thread] %-5level %logger - %msg%n</Pattern>
        </encoder>
    </appender>
    <!--info-->
    <appender name="fileInfoLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>DENY</onMatch>
            <onMismatch>ACCEPT</onMismatch>
        </filter>
        <encoder>
            <pattern>[zjsm-sp-web-admin]%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} --%L - %msg%n</pattern>
        </encoder>
        <!--滚动策略-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--路径-->
            <!--<fileNamePattern>/opt/app-service/hotel-tv-user/shared/logs/zjsm-sp-web-admin-info.%d{yyyy-MM-dd}.log</fileNamePattern>-->
<!--            <fileNamePattern>/Users/vincent/Desktop/opt/deploy/zjsm-sp-web-admin/shared/logs/zjsm-sp-web-admin-info.%d{yyyy-MM-dd}.log</fileNamePattern>-->
            <fileNamePattern>/Users/apple/Desktop/opt/deploy/zjsm-sp-web-admin/shared/logs/zjsm-sp-web-admin-info.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
    </appender>
    <!--error-->
    <appender name="fileErrorLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <encoder>
            <pattern>[zjsm-sp-web-admin]%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} --%L - %msg%n</pattern>
        </encoder>
        <!--滚动策略-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--路径-->
            <!--<fileNamePattern>/opt/app-service/hotel-tv-user/shared/errlogs/zjsm-sp-web-admin-error.%d{yyyy-MM-dd}.log</fileNamePattern>-->
<!--            <fileNamePattern>/Users/vincent/Desktop/opt/deploy/zjsm-sp-web-admin/shared/errlogs/zjsm-sp-web-admin-error.%d{yyyy-MM-dd}.log</fileNamePattern>-->
            <fileNamePattern>/Users/apple/Desktop/opt/deploy/zjsm-sp-web-admin/shared/errlogs/zjsm-sp-web-admin-error.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
    </appender>

    <root level="info">
        <appender-ref ref="consoleLog"/>
        <appender-ref ref="fileInfoLog"/>
        <appender-ref ref="fileErrorLog"/>
    </root>
</configuration>